<header class="main-header">
    <div class="main-header-top-bar">
      <a href="index.html"> <img src="./public/img/logoTemporario.png" class="logo" /></a>
    </div>

    <a href="#" class="button-navbar">
      <i class="fas fa-bars"></i>
    </a>

    <nav class="main-navbar">
      <ul class="left-navbar">
        <li><a href="views/aboutUs.html">Quienes somos</a></li>
        <li><a href="views/menu.html">Menu</a></li>
        <li><a href="views/reservas.html">Reservas</a></li>
        <li><a href="views/contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>