<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/index.css" />
    <title>Contacto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
</head>

<header id="miHeaderDinamico">
</header>

<body>

    <div class="miContenedor">
        <div class="miForm">
            <form action="" method="" class="miContacto">
                <ul>
                    <li>
                        <label for="nombre" class="miEtiquetaContacto">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Tu nombre aqui">
                    </li>
                    <li>
                        <label for="mail" class="miEtiquetaContacto">Correo electrónico:</label>
                        <input type="email" id="mail" name="email" placeholder="Tu email aqui">
                    </li>
                    <li>
                        <label for="comentario" class="miEtiquetaContacto">Tu comentario:</label>
                        <textarea id="msg" name="comentario" placeholder="Lo que quieras decirnos"></textarea>
                    </li>
                </ul>
                <button class="miBotonEnviar">Enviar</button>
            </form>
        </div>
        <div class="miContenedorUbicacion">
            <h3 id="miUbicacion">Donde estamos</h3>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4092.952558210275!2d55.517780516910975!3d-4.694549619967088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x231fd54a9dde73a7%3A0x9d8f0289326b98ba!2sVinoth%20shopping%20centre!5e0!3m2!1ses-419!2sar!4v1664161240375!5m2!1ses-419!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</body>
<footer>
    <ul class="footer-navbar">
        <li>
            <a href="/registro">Crea tu cuenta <i class="fas fa-credit-card"></i
        ></a>
        </li>
        <li>
            <a href="/loginformulario">Ingresa <i class="fas fa-sign-in-alt"></i
        ></a>
        </li>
        <li>
            <a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a>
        </li>
    </ul>
    <!-- <a href="https://www.w3schools.com/">Visit W3Schools.com!</a> para agregar dp contactos fake -->
</footer>

<script src="/app.js"></script>

</html>