<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/index.css" />
    <title>Comidas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />
</head>

<header id="miHeaderDinamico">
</header>

<body>
    <p>Reservas</p>
</body>
<footer>
    <ul class="footer-navbar">
        <li>
            <a href="/registro">Crea tu cuenta <i class="fas fa-credit-card"></i
        ></a>
        </li>
        <li>
            <a href="/loginformulario">Ingresa <i class="fas fa-sign-in-alt"></i
        ></a>
        </li>
        <li>
            <a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a>
        </li>
    </ul>
    <!-- <a href="https://www.w3schools.com/">Visit W3Schools.com!</a> para agregar dp contactos fake -->
</footer>

<script src="/app.js"></script>

</html>